@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOŞGELDİNİZ </h1>
    <p>Sınav başlatmak dışındaki işlemleri giriş yaparak gerçekleştirebilirsiniz .</p>
</div>
